:root {
    --primary-color: #5E81AC;
    --secondary-color: #A3BE8C;
    --background-color: #2E3440;
    --foreground-color: #D8DEE9;
}

body {
    background: var(--background-color);
    padding: 20px 40px;
    max-width: 120em;
    color: var(--foreground-color);
    font-family: 'Jetbrains Mono', monospace;
}

h1 {
    color: var(--primary-color);
}

h2 {
    color: var(--primary-color);
}

dd {
    display: list-item;
    list-style-type: "-";
    padding-inline-start: 1ch;
    margin-top: 10px;
    margin-bottom: 10px;
}

p.box {
    border: solid var(--primary-color);
}

a {
    color: var(--secondary-color);
}

a:visited {
    color: var(--secondary-color);
}

a:hover {
    color: var(--secondary-color);
}
